body
{
background-color:blue;
text-align:center;
}
h1{
	text-align:center;
	color:yellow;
	size:50px;
}
h3{
	text-align:right;
	color:white;
	size:25px
}
a{
	text-align:right;
	color:white;
	size:25px;
}